In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

myArray = np.array([1,2,3,3])
mySeries = pd.Series(myArray)
mySeries

0    1
1    2
2    3
3    3
dtype: int32

In [17]:
mySeries.to_json(orient = 'index')

'{"0":1,"1":2,"2":3,"3":3}'

In [18]:
data = pd.read_json(_, orient = 'index') #undersocre to read from local memory
data

   0
0  1
1  2
2  3
3  3

In [20]:
type(data[0])

pandas.core.series.Series

In [24]:
mySeries.to_json(orient = 'records')

'[1,2,3,3]'

In [25]:
data = pd.read_json(_, orient='records')
type(data)

pandas.core.frame.DataFrame

In [26]:
data

   0
0  1
1  2
2  3
3  3