In [1]:
import pandas as pd

In [2]:
contact = {'Name':'john', 'Email':'john@mit.edu', 'Course':1}
contact['Email']

'john@mit.edu'

In [5]:
contacts = {'Name':['john', 'anne', 'mary'],
            'Email':['john@mit.edu', 'anne@mit.edu', 'marry@mit.edu'],
            'Course':[1,3,6]}
contacts['Email']

['john@mit.edu', 'anne@mit.edu', 'marry@mit.edu']

In [9]:
df = pd.DataFrame(data = contacts)
df['Email']

0     john@mit.edu
1     anne@mit.edu
2    marry@mit.edu
Name: Email, dtype: object

In [12]:
names = ['john', 'anne', 'mary']
emails = ['john@mit.edu', 'anne@mit.edu', 'marry@mit.edu']
courses = [1,3,6]
contacts = {'Name': names, 'Email':emails, 'Course': courses}
df = pd.DataFrame(data = contacts)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   Name          Email  Course
0  john   john@mit.edu       1
1  anne   anne@mit.edu       3
2  mary  marry@mit.edu       6

In [14]:
df = pd.DataFrame(index = range(1,4))
df['Name'] = names
df['Email'] = emails
df['Course'] = courses
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   Name          Email  Course
1  john   john@mit.edu       1
2  anne   anne@mit.edu       3
3  mary  marry@mit.edu       6