# Codio Coding Activity 3.3: Time and Date Functionality in Pandas

### Learning Outcome Addressed

- 6. Explain time and date functionality in pandas.


## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)

### Importing Pandas

Before you begin this activity, you need to import the *pandas library*.

Run the code cell below:

In [2]:
import pandas as pd

### Question 1
*3 points*

Define a *series, `ans1a,`* with elements *`first`, `second`, `third`,* and *`fourth`*.

Modify the *index* of the *series* so that each element contains a date, starting from October 31, 1990.

In [3]:
### GRADED


### YOUR SOLUTION HERE
ans1a = pd.Series(['first', 'second', 'third', 'fourth'])
ans1a.index = pd.date_range(start= '10/31/1990', periods=4)
# YOUR CODE HERE
ans1a

1990-10-31     first
1990-11-01    second
1990-11-02     third
1990-11-03    fourth
Freq: D, dtype: object

### Question 2
*3 points*

Define a *series, `ans2a,`* with elements *`fifth`* and *`sixth`*.

Use the *function* [append](https://pandas.pydata.org/docs/reference/api/pandas.Series.append.html) to concatenate *`ans1a`* and *`ans2a.`* Assign this new *series* to *`ans2b`*.

In [4]:
### GRADED


### YOUR SOLUTION HERE
ans2a = pd.Series(['fifth', 'sixth'])
ans2b = ans1a.append(ans2a)

# YOUR CODE HERE
ans2b

1990-10-31 00:00:00     first
1990-11-01 00:00:00    second
1990-11-02 00:00:00     third
1990-11-03 00:00:00    fourth
0                       fifth
1                       sixth
dtype: object

### Question 3
*3 points*

Modify the *index* of the *series `ans2b`* so that each element contains a date, spaced monthly, starting from December 31, 2000. Assign the new *series* to *`ans3a.`*

**HINT:** The monthly frequency can be set using the argument *`freq`* equal to `M`.

In [5]:
### GRADED


### YOUR SOLUTION HERE
ans3a = ans2b
ans3a.index = pd.date_range(start = '12/31/2000', periods=6, freq='M')

# YOUR CODE HERE
ans3a

2000-12-31     first
2001-01-31    second
2001-02-28     third
2001-03-31    fourth
2001-04-30     fifth
2001-05-31     sixth
Freq: M, dtype: object

### Question 4
*5 points*

What day of the week was December 15, 1989? Assign your answer as a *string* to *`ans4b`*.

**HINT:** Begin by defining a *pandas series* with integer elements from 1 to 7. For testing purposes, define this list as *`ans4a`*. The variable *`ans4b`* should contain the answer as weekday name, not a number.

In [6]:
### GRADED


### YOUR SOLUTION HERE
ans4a = pd.Series([1,2,3,4,5,6,7])
ans4a.index = pd.date_range(start='12/15/1989', periods=7)
ans4a.index.dayofweek
ans4b = 'Friday'

# YOUR CODE HERE

### Question 5
*6 points*

Use the *method* [is_leap_year](https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.is_leap_year.html) to check whether 1994 was a leap year. Assign your answer to *`ans5b.`*

**HINT:** Begin by defining a *pandas* datetime *index* with date elements from January 1, 1993 to December 31, 1994, included. Make sure the elements are spaced yearly by setting the argument *`freq`* equal to *`Y`*. For testing purposes, define this list as *`ans5a`*.

In [8]:
### GRADED


### YOUR SOLUTION HERE
ans5a = pd.date_range(start='1993-01-01', end='1995-01-01', freq='Y')

# Check if the years in the datetime index are leap years
ans5b = ans5a.is_leap_year[1]

# YOUR CODE HERE
ans5b

False