In [6]:
import pandas as pd
gt20 = [30,75.0,10,25.0,40,100]
lt20 = [9,9.0, 90,91.0,99,100]
nvr = [1,0.3,300, 99.7, 301,100]
ttl = [40,9.0, 400, 91.0, 440, 100]
cols = ['N', '%', 'N', '%', 'N', '%']
multicol1 = pd.MultiIndex.from_tuples([('Non Mel Skin Cancer','Yes', 'N'),
                                     ('Non Mel Skin Cancer','Yes', '%'),
                                     ('Non Mel Skin Cancer','No', 'N'),
                                     ('Non Mel Skin Cancer', 'No', '%'),
                                     ('Non Mel Skin Cancer','Total', 'N'), 
                                     ('Non Mel Skin Cancer','Total', '%')],
                                     names= ['A', 'B', 'C'])


idx = ['>20 Yrs', '<20 Yrs', 'Never', 'Total']
multirow1 = pd.MultiIndex.from_tuples([('Sun','>20 Yrs'), ('Sun', '<20 Yrs'), ('Sun', 'Never'), ('Sun', 'Total')],
                                     names = ['Sun Exposure', 'Years'])
df = pd.DataFrame([gt20,lt20, nvr,ttl], index= multirow1, columns=multicol1)
df

A                    Non Mel Skin Cancer
B                                    Yes         No       Total
C                                      N     %    N     %     N    %
Sun Exposure Years
Sun          >20 Yrs                  30  75.0   10  25.0    40  100
             <20 Yrs                   9   9.0   90  91.0    99  100
             Never                     1   0.3  300  99.7   301  100
             Total                    40   9.0  400  91.0   440  100

#### iloc and loc for picking out rows, columns and values

In [14]:
#       row, col
print(type(df.iloc[0:3, 0:2]))
df.iloc[0:3, 0:2]

<class 'pandas.core.frame.DataFrame'>

A                    Non Mel Skin Cancer
B                                    Yes
C                                      N     %
Sun Exposure Years
Sun          >20 Yrs                  30  75.0
             <20 Yrs                   9   9.0
             Never                     1   0.3

In [21]:
df.iloc[0:1, 0]

Sun Exposure  Years
Sun           >20 Yrs    30
Name: (Non Mel Skin Cancer, Yes, N), dtype: int64

In [22]:
df.iloc[0, 0]

30

In [23]:
df.iloc[[0,2], [1,3]]

A                    Non Mel Skin Cancer
B                                    Yes    No
C                                      %     %
Sun Exposure Years
Sun          >20 Yrs                75.0  25.0
             Never                   0.3  99.7

In [27]:
df.loc[('Sun', '>20 Yrs'), ('Non Mel Skin Cancer','Yes', 'N')]

30.0

In [25]:
df

A                    Non Mel Skin Cancer
B                                    Yes         No       Total
C                                      N     %    N     %     N    %
Sun Exposure Years
Sun          >20 Yrs                  30  75.0   10  25.0    40  100
             <20 Yrs                   9   9.0   90  91.0    99  100
             Never                     1   0.3  300  99.7   301  100
             Total                    40   9.0  400  91.0   440  100

In [30]:
df.loc[[('Sun', '>20 Yrs'), ('Sun', 'Never'), ('Sun', 'Total')], ('Non Mel Skin Cancer','Yes', 'N')]

Sun Exposure  Years
Sun           >20 Yrs    30
              Never       1
              Total      40
Name: (Non Mel Skin Cancer, Yes, N), dtype: int64