In [3]:
import pandas as pd
import numpy as np

In [4]:
cols = list('ABCD')
cols

['A', 'B', 'C', 'D']

In [11]:
myArr = np.random.randint(0,100,size=(5,4))
myArr
indx = pd.date_range(start = '1/1/2020', periods = 5, freq= 'D')
indx

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(data = myArr, index =indx, columns= ['Region', 'Rep', 'Items', 'TotalValue'])
df

            Region  Rep  Items  TotalValue
2020-01-01      22   18     88          65
2020-01-02      66   37     79          67
2020-01-03      45   28     79          86
2020-01-04       1   69     69          43
2020-01-05      28   62     83          75

In [13]:
df['New'] = df['Rep'] + df['Items']
df

            Region  Rep  Items  TotalValue  New
2020-01-01      22   18     88          65  106
2020-01-02      66   37     79          67  116
2020-01-03      45   28     79          86  107
2020-01-04       1   69     69          43  138
2020-01-05      28   62     83          75  145

In [18]:
df.drop(columns='New', axis = 1, inplace=True)
df

            Region  Rep  Items  TotalValue
2020-01-01      22   18     88          65
2020-01-02      66   37     79          67
2020-01-03      45   28     79          86
2020-01-04       1   69     69          43
2020-01-05      28   62     83          75