In [1]:
import pandas as pd
import numpy as np

In [6]:
cols = list('ABCD')
np.random.seed(seed=1)
myArr = np.random.ranf(size=(5,4))
myArr[2,3] = np.NaN
myArr[3,2] = np.NaN
df= pd.DataFrame(data=myArr, columns=cols)
df

          A         B         C         D
0  0.417022  0.720324  0.000114  0.302333
1  0.146756  0.092339  0.186260  0.345561
2  0.396767  0.538817  0.419195       NaN
3  0.204452  0.878117       NaN  0.670468
4  0.417305  0.558690  0.140387  0.198101

In [11]:
df.dropna(axis=1)
df.fillna(value= 0)

          A         B         C         D
0  0.417022  0.720324  0.000114  0.302333
1  0.146756  0.092339  0.186260  0.345561
2  0.396767  0.538817  0.419195  0.000000
3  0.204452  0.878117  0.000000  0.670468
4  0.417305  0.558690  0.140387  0.198101