In [1]:
import pandas as pd
import numpy as np

In [2]:
myArray = np.array([1,2,3,3])
mySeries = pd.Series(myArray)
mySeries

0    1
1    2
2    3
3    3
dtype: int32

In [8]:
mySeries.to_json(orient= 'index')

'{"0":1,"1":2,"2":3,"3":3}'

In [10]:
data = pd.read_json(_, orient = 'index')
data

   0
0  1
1  2
2  3
3  3

In [12]:
mySeries.index = pd.date_range(start='1/1/2018', periods=4)
mySeries

2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    3
Freq: D, dtype: int32

In [16]:
# Index in JSON is converted into milliseconds
mySeries.to_json(orient= 'index')
#ISO stands for international Organization for Standardization
mySeries.to_json(orient = 'index', date_format = 'iso')

'{"2018-01-01T00:00:00.000Z":1,"2018-01-02T00:00:00.000Z":2,"2018-01-03T00:00:00.000Z":3,"2018-01-04T00:00:00.000Z":3}'

In [17]:
data = pd.read_json(_, orient='index')
print(type(data.index))
print(data)

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
                           0
2018-01-01 00:00:00+00:00  1
2018-01-02 00:00:00+00:00  2
2018-01-03 00:00:00+00:00  3
2018-01-04 00:00:00+00:00  3

In [18]:
data

                           0
2018-01-01 00:00:00+00:00  1
2018-01-02 00:00:00+00:00  2
2018-01-03 00:00:00+00:00  3
2018-01-04 00:00:00+00:00  3